*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: "Ogg", "Iowan Old Style", "Garamond", serif;
  line-height: 1.45;
  font-weight: 400;
  color: #2f1f12;
  background: #efe2c8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  background: #efe2c8;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input,
select {
  font: inherit;
}
